var request = new XMLHttpRequest();
request.open(
  "{{method}}",
  "{{{url}}}"{{#basic_auth}},
  true,
  {{basic_auth.username}},
  {{basic_auth.password}},
  {{/basic_auth}}

)

{{#headers}}
request.setRequestHeader("{{name}}", "{{{value}}}");
{{/headers}}

request.onload = function (_event) {
  if (request.readyState === 4) {
    if (request.status === 200) {
      console.log("Request Succeeded!")
      console.log(request.responseText);
    } else {
      console.error(request.statusText);
    }
  }
};

request.onerror = function (_event) {
  console.log("Request Failed...")
  console.error(request.statusText);
};

{{#body}}
var body = "{{{body}}}";
request.send(body);
{{/body}}
{{^body}}
request.send();
{{/body}}
